In [4]:
import csv
f = open('./python_da_files/subwaytime.csv',encoding = 'cp949')
data = csv.reader(f)

import pandas as pd
df = pd.read_csv('./python_da_files/subwaytime.csv',encoding = 'cp949')
df.head()

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,23:00:00~23:59:59,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,2019-01,1호선,150.0,서울역,927,22,10682,8774,13504,45545,...,33149,19442,3612,7167,0,410,0,0,0,0
2,2019-01,1호선,151.0,시청,74,0,2409,4049,3532,19241,...,14478,4079,981,1256,3,29,0,0,0,0
3,2019-01,1호선,152.0,종각,100,8,4409,5105,4593,26969,...,54264,5560,4886,1722,0,0,0,0,0,0
4,2019-01,1호선,153.0,종로3가,122,4,5061,2520,3876,12832,...,25970,5503,3214,2471,0,52,0,0,0,0

##### am10~ am12시 사이에 승차인원이 가장 많은 역은?

In [5]:
f = open('./python_da_files/subwaytime.csv',encoding = 'cp949')
data = csv.reader(f)
next(data)
next(data)

s_d = {}

for line in data :
    sum_p = int(line[16])+int(line[18])
    s_d[sum_p] = line[3]
    
print('승차인원이 가장 많은 역 : {} \n승차인원 : {}'.format(s_d[max(s_d.keys())],max(s_d.keys())))

승차인원이 가장 많은 역 : 신림
승차인원 : 212595

#### 시간을 입력받은 후 해당시간에 승차인원이 가장 많은 역은?

In [19]:
import csv
f= open('./python_da_files/subwaytime.csv',encoding = 'cp949')
data = csv.reader(f)
next(data)
next(data)

num = int(input('시간을 입력하세요 : '))
d_t = {}

for line in data :
    d_t[int(line[2*num-4])] = line[3]

# print(d_t)
print(d_t[max(d_t.keys())], max(d_t.keys()))

시간을 입력하세요 : 9
신림 211286