## 서울시 일인당 CCTV 댓수 구별 현황 분석
    * 구별 인구당 CCTV 댓수 현황파악
    * 인구당 CCTV댓수와 관련이 높은 지표는

In [1]:
import pandas as pd

In [7]:
cctv_result = pd.read_csv('./data/CCTV_result.csv')
cctv_result

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.487292,1388.055355
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.170552,465.422892
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.226535,329.342026
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.146413,551.503155
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.284673,162.948104
5,광진구,707,53.228621,372164.0,357211.0,14953.0,42214.0,4.017852,11.342849,0.189970,425.290264
6,구로구,1561,64.973730,447874.0,416487.0,31387.0,56833.0,7.007998,12.689506,0.348536,329.592918
7,금천구,1015,100.000000,255082.0,236353.0,18729.0,32970.0,7.342345,12.925255,0.397911,35.989293
8,노원구,1265,188.929889,569384.0,565565.0,3819.0,71941.0,0.670725,12.634883,0.222170,125.483618
9,도봉구,485,246.638655,348646.0,346629.0,2017.0,51312.0,0.578524,14.717507,0.139110,616.501341
10,동대문구,1294,74.766355,369496.0,354079.0,15417.0,54173.0,4.172440,14.661322,0.350207,165.202586
11,동작구,1091,139.338235,412520.0,400456.0,12064.0,56013.0,2.924464,13.578251,0.264472,94.122892
12,마포구,574,212.101911,389649.0,378566.0,11083.0,48765.0,2.844355,12.515110,0.147312,581.180999
13,서대문구,962,48.578199,327163.0,314982.0,12181.0,48161.0,3.723221,14.720797,0.294043,111.376568
14,서초구,1930,63.371266,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308,0.428594,695.403794
15,성동구,1062,81.780822,311244.0,303380.0,7864.0,39997.0,2.526635,12.850689,0.341211,9.464016
16,성북구,1464,63.627354,461260.0,449773.0,11487.0,64692.0,2.490353,14.025062,0.317391,215.068447
17,송파구,618,104.347826,667483.0,660584.0,6899.0,72506.0,1.033584,10.862599,0.092587,900.911312
18,양천구,2034,34.671731,479978.0,475949.0,4029.0,52975.0,0.839413,11.036964,0.423769,760.563512
19,영등포구,904,157.979798,402985.0,368072.0,34913.0,52413.0,8.663598,13.006191,0.224326,268.640012
20,용산구,1624,53.216374,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427,0.665020,659.231690
21,은평구,1873,85.237258,494388.0,489943.0,4445.0,72334.0,0.899091,14.631019,0.378852,580.698457
22,종로구,1002,248.922414,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404,0.615404,143.775396
23,중구,671,147.699758,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909,0.503603,148.499528
24,중랑구,660,79.960707,414503.0,409882.0,4621.0,56774.0,1.114829,13.696885,0.159227,527.718965

#### 서울시 인구데이터

In [8]:
pop_seoul = pd.read_excel('./data/population_in_Seoul.xls')
pop_seoul

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB

In [13]:
pop_seoul.columns

Index(['기간', '자치구', '세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')

In [59]:
pop_seoul = pd.read_excel('./data/population_in_Seoul.xls',usecols = [1,3,6,9,13],skiprows=2)
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [63]:
# columns 이름 변경 -> 원본은 변경되지 않음
# 원본변경을 원할시 ,inplace=True를 안에 추가하면 됨
pop_seoul.rename(columns = {'자치구' : '구별','계': '인구수','계.1':'한국인','계.2':'외국인','65세이상고령자':'고령자'},inplace=True)
pop_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [39]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      26 non-null     object
 1   인구수     26 non-null     float64
 2   한국인     26 non-null     float64
 3   외국인     26 non-null     float64
 4   고령자     26 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [64]:
pop_seoul.tail()

     구별       인구수       한국인     외국인      고령자
22  서초구  450310.0  445994.0  4316.0  51733.0
23  강남구  570500.0  565550.0  4950.0  63167.0
24  송파구  667483.0  660584.0  6899.0  72506.0
25  강동구  453233.0  449019.0  4214.0  54622.0
26  NaN       NaN       NaN     NaN      NaN

In [65]:
pop_seoul.drop(26,axis=0, inplace= True)
pop_seoul.tail()

     구별       인구수       한국인      외국인      고령자
21  관악구  525515.0  507203.0  18312.0  68082.0
22  서초구  450310.0  445994.0   4316.0  51733.0
23  강남구  570500.0  565550.0   4950.0  63167.0
24  송파구  667483.0  660584.0   6899.0  72506.0
25  강동구  453233.0  449019.0   4214.0  54622.0

#### 구별 외국인 비율 상위 5개 구

In [68]:
# 외국인 비율
pop_seoul['외국인비율'] = pop_seoul['외국인']/pop_seoul['인구수']*100
pop_seoul.sort_values('외국인비율',ascending = False).head().구별

19    영등포구
18     금천구
17     구로구
2       중구
3      용산구
Name: 구별, dtype: object

####  cctv데이터 분석

In [74]:
cctv_seoul = pd.read_csv('./data/CCTV_in_Seoul.csv')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [75]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

0     2.653918
1     5.669451
2     6.700690
3     6.038828
4     2.526635
5     4.017852
6     4.172440
7     1.114829
8     2.490353
9     1.061806
10    0.578524
11    0.670725
12    0.899091
13    3.723221
14    2.844355
15    0.839413
16    1.080540
17    7.007998
18    7.342345
19    8.663598
20    2.924464
21    3.484582
22    0.958451
23    0.867660
24    1.033584
25    0.929765
Name: 외국인비율, dtype: float64

In [85]:
cctv_seoul.rename(columns = {'기관명':'구별'}, inplace=True)
cctv_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

####  cctv가 가장많은 구 상위 5곳

In [89]:
cctv_seoul.sort_values('소계',ascending = False)[:5]

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

##### 2016년도에 cctv증가율이 가장 높은구?

In [102]:
# 증가율
cctv_seoul['2016 증가율'] = cctv_seoul['2016년']/(cctv_seoul['소계']-cctv_seoul['2016년'])
cctv_seoul.sort_values('2016 증가율', ascending = False)[:5]

     구별    소계  2013년도 이전  2014년  2015년  2016년  2016 증가율
9   도봉구   485        238    159     42    386  3.898990
17  송파구   618        529     21     68    463  2.987097
12  마포구   574        314    118    169    379  1.943590
22  종로구  1002        464    314    211    630  1.693548
23   중구   671        413    190     72    348  1.077399

#### 1인당 cctv수(인당 cctv비율)이 높은 상위 5개 구 출력

In [103]:
total_seoul = pd.merge(cctv_seoul,pop_seoul, on='구별',how = 'outer')

In [105]:
total_seoul.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,2016 증가율,인구수,한국인,외국인,고령자,외국인비율
0,강남구,2780.0,1292.0,430.0,584.0,932.0,0.504329,570500.0,565550.0,4950.0,63167.0,0.867660
1,강동구,773.0,379.0,99.0,155.0,377.0,0.952020,453233.0,449019.0,4214.0,54622.0,0.929765
2,강북구,748.0,369.0,120.0,138.0,204.0,0.375000,330192.0,326686.0,3506.0,54813.0,1.061806
3,강서구,884.0,388.0,258.0,184.0,81.0,0.100872,603772.0,597248.0,6524.0,72548.0,1.080540
4,관악구,1496.0,846.0,260.0,390.0,613.0,0.694224,525515.0,507203.0,18312.0,68082.0,3.484582

In [110]:
total_seoul['인당 cctv수'] = total_seoul.소계 / total_seoul.인구수
total_seoul.sort_values('인당 cctv수', ascending = False)[:5]

,구별,소계,2013년도 이전,2014년,2015년,2016년,2016 증가율,인구수,한국인,외국인,고령자,외국인비율,인당 cctv수
20,용산구,1624.0,1368.0,218.0,112.0,398.0,0.324633,244203.0,229456.0,14747.0,36231.0,6.038828,0.006650
22,종로구,1002.0,464.0,314.0,211.0,630.0,1.693548,162820.0,153589.0,9231.0,25425.0,5.669451,0.006154
23,중구,671.0,413.0,190.0,72.0,348.0,1.077399,133240.0,124312.0,8928.0,20764.0,6.700690,0.005036
0,강남구,2780.0,1292.0,430.0,584.0,932.0,0.504329,570500.0,565550.0,4950.0,63167.0,0.867660,0.004873
14,서초구,1930.0,1406.0,157.0,336.0,398.0,0.259791,450310.0,445994.0,4316.0,51733.0,0.958451,0.004286

#### 1인당 cctv에 가장 큰 영향을 미치는 요인은 ?

In [125]:
total_seoul.corr()['인당 cctv수'].sort_values(ascending=False)

인당 cctv수     1.000000
2013년도 이전    0.577185
소계           0.575784
2016년        0.438115
외국인비율        0.406199
2014년        0.399458
2015년        0.207860
외국인          0.079211
2016 증가율    -0.296283
한국인         -0.513169
인구수         -0.514143
고령자         -0.541024
Name: 인당 cctv수, dtype: float64